
[V200R003C00]
#
 sysname RT12
#
 board add 0/4 2SA 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
router id 3.1.1.12 
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
acl number 3001  
 rule 5 deny ip source 200.3.17.0 0.0.0.255 destination 200.3.0.0 0.0.254.255 
 rule 6 deny ip source 200.3.17.0 0.0.0.255 destination 200.4.0.0 0.0.254.255 
 rule 10 permit ip 
acl number 3002  
 rule 5 deny ip source 200.3.0.0 0.0.254.255 destination 200.3.17.0 0.0.0.255 
 rule 6 deny ip source 200.4.0.0 0.0.254.255 destination 200.3.17.0 0.0.0.255 
 rule 10 permit ip 
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone in
 priority 10
#
firewall zone out
 priority 5
#
firewall zone Local
 priority 15
#
firewall interzone in out
 firewall enable
 packet-filter 3002 inbound
 packet-filter 3001 outbound
#
interface Serial4/0/0
 link-protocol ppp
 ip address 200.3.14.246 255.255.255.0 
 zone out
#
interface Serial4/0/1
 link-protocol ppp
#
interface GigabitEthernet0/0/0
 ip address 200.3.16.12 255.255.255.0 
 zone out
#
interface GigabitEthernet0/0/1
 ip address 200.3.17.12 255.255.255.0 
 zone in
#
interface GigabitEthernet0/0/2
#
interface NULL0
#
interface LoopBack0
 ip address 3.1.1.12 255.255.255.255 
#
interface LoopBack1
 ip address 200.3.112.1 255.255.255.255 
#
ospf 1 
 area 0.0.0.1 
  network 3.1.1.12 0.0.0.0 
  network 200.3.14.0 0.0.0.255 
  network 200.3.16.0 0.0.0.255 
  network 200.3.17.0 0.0.0.255 
  network 200.3.112.1 0.0.0.0 
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return