
[V200R003C00]
#
 sysname R26
#
 board add 0/1 2SA 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
router id 4.1.1.26 
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
acl number 3001  
 rule 5 deny ip source 200.4.13.0 0.0.0.255 destination 200.4.0.0 0.0.254.255 
 rule 10 deny ip source 200.4.13.0 0.0.0.255 destination 200.3.0.0 0.0.254.255 
 rule 15 permit ip 
acl number 3002  
 rule 5 deny ip source 200.4.0.0 0.0.254.255 destination 200.4.13.0 0.0.0.255 
 rule 10 deny ip source 200.3.0.0 0.0.254.255 destination 200.4.13.0 0.0.0.255 
 rule 15 permit ip 
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone inter
 priority 10
#
firewall zone outer
 priority 5
#
firewall zone Local
 priority 15
#
firewall interzone inter outer
 firewall enable
 packet-filter 3002 inbound
 packet-filter 3001 outbound
#
interface Serial1/0/0
 link-protocol ppp
 ip address 200.4.9.26 255.255.255.0 
 zone outer
#
interface Serial1/0/1
 link-protocol ppp
#
interface GigabitEthernet0/0/0
 ip address 200.4.12.26 255.255.255.0 
 zone outer
#
interface GigabitEthernet0/0/1
 ip address 200.4.13.26 255.255.255.0 
 zone inter
#
interface GigabitEthernet0/0/2
#
interface NULL0
#
interface LoopBack0
 ip address 4.1.1.26 255.255.255.255 
#
ospf 1 
 area 0.0.0.2 
  network 4.1.1.26 0.0.0.0 
  network 200.4.0.0 0.0.255.255 
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return