
[V200R003C00]
#
 sysname RT13
#
 board add 0/4 2SA 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
router id 3.1.1.13 
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
acl number 3001  
 rule 5 deny ip source 200.3.18.0 0.0.0.255 destination 200.3.19.0 0.0.0.255 
 rule 10 deny ip source 200.3.18.0 0.0.0.255 destination 200.3.17.0 0.0.0.255 
 rule 15 deny ip source 200.3.18.0 0.0.0.255 destination 200.4.13.0 0.0.0.255 
 rule 20 deny ip source 200.3.18.0 0.0.0.255 destination 200.4.11.0 0.0.0.255 
 rule 25 permit ip 
acl number 3002  
 rule 5 deny ip source 200.3.19.0 0.0.0.255 destination 200.3.18.0 0.0.0.255 
 rule 10 deny ip source 200.3.17.0 0.0.0.255 destination 200.3.18.0 0.0.0.255 
 rule 15 deny ip source 200.4.13.0 0.0.0.255 destination 200.3.18.0 0.0.0.255 
 rule 20 deny ip source 200.4.11.0 0.0.0.255 destination 200.3.18.0 0.0.0.255 
acl number 3011  
 rule 5 deny ip source 200.3.18.0 0.0.0.255 destination 200.3.19.0 0.0.0.255 
 rule 10 deny ip source 200.3.18.0 0.0.0.255 destination 200.3.17.0 0.0.0.255 
 rule 15 deny ip source 200.3.18.0 0.0.0.255 destination 200.4.13.0 0.0.0.255 
 rule 20 deny ip source 200.3.18.0 0.0.0.255 destination 200.4.11.0 0.0.0.255 
 rule 105 deny ip source 200.3.19.0 0.0.0.255 destination 200.3.18.0 0.0.0.255 
 rule 110 deny ip source 200.3.17.0 0.0.0.255 destination 200.3.18.0 0.0.0.255 
 rule 115 deny ip source 200.4.13.0 0.0.0.255 destination 200.3.18.0 0.0.0.255 
 rule 120 deny ip source 200.4.11.0 0.0.0.255 destination 200.3.18.0 0.0.0.255 
 rule 1000 permit ip 
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone office
 priority 10
#
firewall zone bank
 priority 5
#
firewall zone outside
 priority 14
#
firewall zone Local
 priority 15
#
firewall interzone office bank
 firewall enable
 packet-filter 3002 inbound
 packet-filter 3001 outbound
#
firewall interzone outside bank
 firewall enable
 packet-filter 3011 inbound
 packet-filter 3011 outbound
#
firewall interzone outside office
 firewall enable
 packet-filter 3011 inbound
 packet-filter 3011 outbound
#
interface Serial4/0/0
 link-protocol ppp
 ip address 200.3.13.250 255.255.255.0 
 zone outside
#
interface Serial4/0/1
 link-protocol ppp
#
interface GigabitEthernet0/0/0
 ip address 200.3.18.13 255.255.255.0 
 zone office
#
interface GigabitEthernet0/0/1
 ip address 200.3.19.13 255.255.255.0 
 zone bank
#
interface GigabitEthernet0/0/2
#
interface NULL0
#
interface LoopBack0
 ip address 3.1.1.13 255.255.255.255 
#
ospf 1 
 area 0.0.0.2 
  network 3.1.1.13 0.0.0.0 
  network 200.3.13.0 0.0.0.255 
  network 200.3.18.0 0.0.0.255 
  network 200.3.19.0 0.0.0.255 
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return