
[V200R003C00]
#
 sysname R20
#
 board add 0/1 2SA 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
router id 4.1.1.20 
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
acl number 2001  
 rule 1 permit source 4.0.0.0 0.255.255.255 
 rule 5 permit source 200.4.125.1 0 
 rule 15 permit source 200.4.10.0 0.0.0.255 
 rule 20 permit source 200.4.11.0 0.0.0.255 
 rule 25 permit source 200.4.12.0 0.0.0.255 
 rule 30 permit source 200.4.13.0 0.0.0.255 
 rule 35 deny 
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface Serial1/0/0
 link-protocol ppp
#
interface Serial1/0/1
 link-protocol ppp
#
interface GigabitEthernet0/0/0
 ip address 200.4.3.20 255.255.255.0 
 ospf cost 100
#
interface GigabitEthernet0/0/1
 ip address 200.4.2.20 255.255.255.0 
 ospf cost 50
#
interface GigabitEthernet0/0/2
 ip address 200.0.0.230 255.255.255.252 
#
interface NULL0
#
interface LoopBack0
 ip address 4.1.1.20 255.255.255.255 
#
bgp 4
 peer 200.0.0.229 as-number 2 
 group as4-peer-group internal
 peer as4-peer-group connect-interface LoopBack0
 peer 4.1.1.19 as-number 4 
 peer 4.1.1.19 group as4-peer-group 
 #
 ipv4-family unicast
  undo synchronization
  default local-preference 200
  aggregate 4.0.0.0 255.0.0.0 detail-suppressed 
  import-route ospf 1 med 200 route-policy permit_242_deny_any
  peer 200.0.0.229 enable
  peer as4-peer-group enable
  peer as4-peer-group next-hop-local 
  peer 4.1.1.19 enable
  peer 4.1.1.19 group as4-peer-group 
#
ospf 1 
 import-route bgp
 area 0.0.0.0 
  network 4.1.1.20 0.0.0.0 
  network 200.4.2.0 0.0.0.255 
  network 200.4.3.0 0.0.0.255 
#
route-policy permit_242_deny_any permit node 20 
 if-match acl 2001 
 apply cost 100 
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return